.thankyou {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-bottom: 300px;

    h2 {
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 4rem;
        font-family: 'Dancing Script', cursive !important;
        text-align: center;
        padding: 0 50px;
    }

    p {
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 1rem;
        width: 80%;
        text-align: center;
        line-height: 2rem;

        a {
            color: #000;
            font-weight: 700;
        }
    }

    .lottieWave {
        position: absolute;
        bottom: -200px;
    }
}
