.mobileMenu {
    display: none;
    position: relative;
    z-index: 15;
    width: 55px;
    height: 55px;
    margin: 15px;
    position: fixed;
    top: 0;
    z-index: 200;

    img {
        // width: 100%;
        // height: 100%;
        height: 30px;
        width: 35px;
    }
}

.navbar {
    //background-color: #f8fafc;
    //background-color: #D2E7FF;
    // background-color: rgba(210, 231, 255, 0.5);
    background: rgba(217, 217, 217, 0.10);
    border-bottom: 1px solid #150416;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);

    .navBg {
        display: none;
    }

    h2 {
        color: #CBA3FF;

        font-family: Handjet;
        font-size: 45px;
        font-style: normal;
        font-weight: 400;
        line-height: 41px; /* 164% */
        letter-spacing: 1px;
    }


    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
        align-items: center;

        li {
            margin-left: 1rem;
            cursor: pointer;

            a {
                color: #CBA3FF;
                font-family: Handjet;
                font-size: 30px;
                font-style: normal;
                font-weight: 400;
                line-height: 41px;
                /* 256.25% */
                letter-spacing: 1.6px;
                text-transform: uppercase;
            }
        }
    }
}

@media (max-width: 1023px) {
    .mobileMenu {
        display: block;
    }

    .navbar {
        flex-direction: column;
        padding: 20px 0;
        padding-top: 100px;
        //background-color: rgba(210, 231, 255, 0.99);
        height: 100vh;
        background: transparent;
        overflow: hidden;

        .navBg {
            display: block;
            width: 0;
            height: 0;
            position: absolute;
            top: 0;
            left: 0;
            // background: url("/background.webp") no-repeat;
            // background-size: cover;
            background-color: #150416;
            border-radius: 100%;
            transform: translateX(-20%) translateY(-20%);
        }

        &.open {
            .navBg {
                animation: fillBackground 0.5s forwards;
            }

            .navItem {
                animation: slideUpAndAppear 0.3s forwards 0.3s;
                /* 0.5s delay to start after background animation */

            }
        }

        h2 {
            display: none;
        }

        ul {
            flex-direction: column;
            margin-top: 20px;

            .navItem {
                opacity: 0;
                transform: translateY(10px);
                transition: opacity 0.3s ease-in-out 0.5s, transform 0.3s ease-in-out 0.5s;
                margin-left: 0;
                margin-bottom: 50px;
                font-size: 2rem;
                color: #CBA3FF;
                font-family: Handjet;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 10.78px;
            }

            li {}
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .navItem {
        font-size: 40px !important;
    }
}

@media (min-width: 1440px) {
    .navbar {
        h2 {
            font-size: 55px;
        }

        ul {
            .navItem{
                a {
                    font-size: 40px;
                }
            }
        }

    }
}

@keyframes slideUpAndAppear {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fillBackground {
    to {
        transform: translateX(0) translateY(0);
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}