.project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20%;

    img {
        margin-right: 25px;
        margin-left: 25px;
        border-radius: 15px;
    }
    .projectDescription {
        width: 50%;
        h2 {}
        p {}
        span {
            display: block;
            font-weight: bold;
            text-align: right;
            padding-right: 15px;
            padding-top: 15px;
        }

        .actions {
            margin-top: 50px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            button {
                margin-right: 25px;
                padding: 15px 25px;
                font: 1em sans-serif;
                border: 1px solid transparent;
                border-radius: 10px;

                &:hover {
                    cursor: pointer;
                    border: 1px solid transparent;
                }
            }
        }
    }
    .truncate {
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines you want to display */
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

}

@media (max-width: 1024px) {
    .project {
        flex-direction: column;
        padding: 25px;

        img {
            width: 100%;
            height: auto;
            max-height: 500px;
            margin-bottom: 25px;
        }

        .projectDescription {
            margin-left: 0;
            width: 100%;

            h2 {
                font-size: 2rem;
                text-align: center;
            }

            p {
                text-align: center;
                font-size: 1.5rem;
            }

            .actions {
                flex-direction: column;
                button {
                    margin-right: 0;
                    margin-bottom: 25px;
                }
            }
        }
    }
}