.project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20%;

    img {
        margin-right: 25px;
        margin-left: 25px;
        border-radius: 15px;
    }
    .projectDescription {
        width: 50%;
        h2 {}
        p {}

        .actions {
            margin-top: 50px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            button {
                margin-right: 25px;
                padding: 15px 25px;
                font: 1em sans-serif;
                border: 1px solid transparent;
                border-radius: 10px;

                &:hover {
                    cursor: pointer;
                    border: 1px solid #000;
                    background-color: aqua;
                }
            }
        }
    }

}