.portfolioContainer {
    min-height: 100vh;
    padding: 0 20px;

    h2 {
        color: #CBA3FF;
        /* Heading */
        font-family: Handjet;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 10.78px;
        text-transform: uppercase;
        margin-bottom: 20px;
        text-align: center;
    }

    .projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


}

@media (min-width: 768px) {
    .portfolioContainer {
        padding: 0 30px;
        h2 {
            font-size: 70px;
            text-align: left;
        }
    }
}

@media (min-width: 1024px) {
    .portfolioContainer {
        padding: 0 80px;

        .projects {

        }


    }
}

@media (min-width: 1440px) {
    .portfolioContainer {
        padding: 0 120px;

        h2 {
            font-size: 80px;
        }
    }
}