.container {
    margin: 100px 20px;
    max-width: 1440px;

    h1 {
        color: #CBA3FF;
        text-align: center;
        font-family: Handjet;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 4.32px;
    }

    .servicesContainer {
    }

    .text {
        margin-top: 52px;
        color: #CBA3FF;
        text-align: center;
        font-family: Lato;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .contactBtn {
        width: 221px;
        height: 60px;
        border-radius: 15px;
        border: none;
        background: #29082B;
        color: #CBA3FF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Lato;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.5px;
        margin-top: 15px;
        cursor: pointer;

        &:hover {
            background: #CBA3FF;
            color: #29082B;
            transition: 0.5s;
        }
    }
}

@media (min-width: 768px) {
    .container {
        margin: 100px 50px;

        h1 {
            font-size: 70px;
        }

        .servicesContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 100px;
        }

        .text {
            font-size: 30px;
        }
    }
}

@media (min-width: 1024px) {
    .container {
        margin: 100px 100px;

        h1 {
            font-size: 70px;
        }

        .servicesContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 100px;
        }

        .text {
            font-size: 35px;
        }
    }
}

@media (min-width: 1440px) {
    .container {
        margin: 100px auto;
        padding: 0 20px;

        .text {}
    }
}