.heroBanner {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/laptop_M.webp");
    background-size: cover;
    // min-width: 100vh;

    h1 {
        color: #CBA3FF;
        /* Heading */
        font-family: Handjet;
        font-size: 50px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 10.78px;
        text-transform: uppercase;
    }

    h2 {
        color: #CBA3FF;
        font-family: Montserrat;
        font-size: 20px;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
        letter-spacing: 0.34px;
    }
}

//mobile view sttyling
@media (max-width: 1024px) {
    .heroBanner {
        padding: 25px;
    }
}