.aboutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 50px;
    margin: 100px 0 200px;

    img {
        border: 1px solid transparent;
        border-radius: 15px;
    }

    .aboutDescription {
        margin-left: 50px;
        width: 50%;


        p {
            color: #CBA3FF;
            font-family: Lato;
            font-size: 12px;
            font-style: normal;
            font-weight: 300;
            line-height: 17px;
            /* 141.667% */
            letter-spacing: 0.48px;
        }
    }
}